@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  background-size: 300%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  animation: value 15s ease-in-out infinite;
}
@keyframes value{
  from, to{background-position: 0%;}
  50%{background-position: 100%;}
}
@keyframes pulse{
  0%{color: white;}
  25%{color: red;}
  50%{color: white;}
  75%{color: red;}
  100%{color: white;}
}
.change{
  animation: pulse 10s ease-in-out forwards;
}
@layer components{
  .change{
    @apply rounded-full transition-all duration-300
  }
  
}